{{template "header.tmpl" .}}
<h1>Request To Follow Someone</h1>
<form method="post">
	<input type="text" name="actor" placeholder="https://example.com/actor" required></input>
	<button type="submit">Request</button>
</form>
{{template "footer.tmpl" .}}
