{{template "header.tmpl" .}}
<h1>Following</h1>
<ul>
{{if isString .Other.items}}
	<tr>
		<td><a href="{{.Other.items}}">{{.Other.items}}</a></td>
	</tr>
{{else}}
	{{range $i := seq (len .Other.items)}}
		{{with (index .Other.items $i)}}
		<li>{{.}}</li>
		{{end}}
	{{end}}
{{end}}
</ul>
{{template "footer.tmpl" .}}
