{{template "header.tmpl" .}}
<h1>Followers</h1>
<ul>
{{range $i := (seq .Other.ActivityStreamsItems.Len)}}
	{{with (.Other.ActivityStreamsItems.At $i)}}
	<li>{{.GetIRI}}</li>
	{{end}}
{{end}}
</ul>
{{template "footer.tmpl" .}}
