<head>
	<meta name="referrer" content="origin">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Example apcore App</title>
	{{template "inline_css.html" .}}
</head>
<body>
<div id="container">
	<div id="nav">{{template "nav.html" .}}</div>
	<div id="body">
