<html>
<head>
	<meta name="referrer" content="origin">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>BLand</title>
	{{template "inline_css.tmpl" .}}
</head>
<body>
<div id="container">
	<div id="nav">{{template "nav.tmpl" .}}</div>
	<div id="body">
