{{template "header.tmpl" .}}
<h1>BLand Home Page</h1>
<p>Welcome to the <pre>apcore</pre> example application, BLand!</p>
{{if gt (len .Other) 0}}
	<p>Here are the latest public notes:</p>
	<div>
		<table>
		<tr>
			<th>ID</th>
			<th>Summary</th>
			<th>Content</th>
		</tr>
	{{range $i, $n := .Other}}
		<tr>
			<td>{{$i}} {{($n.GetActivityStreamsAttributedTo.At 0).GetIRI}}</td>
			<td>{{($n.GetActivityStreamsSummary.At 0).GetXMLSchemaString}}</td>
			<td>{{($n.GetActivityStreamsContent.At 0).GetXMLSchemaString}}</td>
		</tr>
	{{end}}
		</table>
	</div>
{{else}}
	<p>There are no public notes to see</p>
{{end}}
{{template "footer.tmpl" .}}
