{{template "header.tmpl" .}}
<h1>Inbox</h1>
<table>
	<tr>
		<th>From</th>
		<th>Activity</th>
		<th>Content</th>
	</tr>
{{range $i := (seq .Other.ActivityStreamsOrderedItems.Len)}}
	{{with (.Other.ActivityStreamsOrderedItems.At $i)}}
	<tr>
		<td></td>
		<td></td>
		<td></td>
	</tr>
	{{end}}
{{end}}
</table>
{{template "footer.tmpl" .}}
