{{template "header.tmpl" .}}
<h1>All Users</h1>
<table>
	<tr>
		<th>Name</th>
		<th>Preferred Username</th>
		<th>Actor IRI</th>
	</tr>
{{range $i, $u := .Other}}
	<tr>
		<td>{{$u.name}}</td>
		<td>{{$u.preferredUsername}}</td>
		<td><a href="{{$u.id}}">{{$u.id}}</a></td>
	</tr>
{{end}}
</table>
{{template "footer.tmpl" .}}
