{{template "header.tmpl" .}}
<h1>Login</h1>
<p>Note: no error messages will show if login fails.</p>
<form method="post" action="login">
	<table>
		<tr>
			<td>username</td>
			<td><input type="text" name="un" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true"></td>
		</tr>
		<tr>
			<td>password</td>
			<td><input type="password" name="pw"></td>
		</tr>
	</table>
</form>
{{template "footer.tmpl" .}}
