{{template "header.tmpl" .}}
<h1>Login</h1>
{{if .Error}}
<p>Error logging in</p>
{{end}}
<form method="post" action="login">
	<table>
		<tr>
			<td>email</td>
			<td><input type="text" name="email" autocorrect="off" spellcheck="false" autocapitalize="off" autofocus="true"></td>
		</tr>
		<tr>
			<td>password</td>
			<td><input type="password" name="password"></td>
		</tr>
	</table>
	<button>Login</button>
</form>
{{template "footer.tmpl" .}}
