<nav>
	<p><a href="https://github.com/go-fed/apcore/example">Example apcore App</p>
	<ul>
		{{range .Nav}}
		<li><a href="{{.Href}}">{{.Name}}</a></li>
		{{end}}
		{{if .User}}
		<p>Hi, {{.User}}!</p>
		<li><a href="/logout">Logout</a></li>
		{{else}}
		<li><a href="/login">Login</a></li>
		{{end}}
	</ul>
</nav>
