{{template "header.tmpl" .}}
<h1>Outbox</h1>
<table>
	<tr>
		<th>Activity</th>
	</tr>
{{$root := .}}
{{range $i, $_ := (seq .Other.ActivityStreamsOrderedItems.Len)}}
	{{with ($root.Other.ActivityStreamsOrderedItems.At $i)}}
	<tr>
		<td><a href="{{.GetIRI}}">{{.GetIRI}}</a></td>
	</tr>
	{{end}}
{{end}}
</table>
{{template "footer.tmpl" .}}
