{{template "header.tmpl" .}}
<h1>Outbox</h1>
<table>
	<tr>
		<th>Activity</th>
	</tr>
{{$root := .}}
{{if isString .Other.orderedItems}}
	<tr>
		<td><a href="{{.Other.orderedItems}}">{{.Other.orderedItems}}</a></td>
	</tr>
{{else}}
	{{range $i, $_ := seq (len .Other.orderedItems)}}
		{{with (index $root.Other.orderedItems $i)}}
		<tr>
			<td><a href="{{.}}">{{.}}</a></td>
		</tr>
		{{end}}
	{{end}}
{{end}}
</table>
{{template "footer.tmpl" .}}
