{{template "header.tmpl" .}}
<h1>{{.Other.name}}</h1>
<p>Links:</p>
<ul>
	<li><a href="{{.Other.inbox}}">Inbox</a></li>
	<li><a href="{{.Other.outbox}}">Outbox</a></li>
	<li><a href="{{.Other.followers}}">Followers</a></li>
	<li><a href="{{.Other.following}}">Following</a></li>
</ul>
{{template "footer.tmpl" .}}
